<!-- ---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
--- -->

<!-- 
{% include base_path %}

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<style>
/* a { text-decoration : none; } */
/* a:hover { text-decoration : underline; } */
/* a, a:visited { color : #0050e7; } */
.links { position : relative; top : 1px;  }
.links a {text-decoration: none; margin-right : 20px; }
table td{ border:none; }
table strong a { color : #0050e7; }
table { border-collapse: collapse; border-style: hidden; font-size: 1em}
</style>

<!-- <div class="links">
  <p><strong><a href="https://visionlanguagelab.github.io/research/">Publications by Year</a></strong> &nbsp
  <strong><a href="topic.html">Publications by Topic</a></strong>
</div> -->
 
<div>
  <table style="width: 100%;">
    <tbody>

      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/performance2014.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              Performance Metric Ensemble for Multiobjective Evolutionary Algorithms
            </strong>
            <br> Gary G. Yen and <b>Zhenan He</b> <br>
            <em>IEEE Transactions on Evolutionary Computation,</em> 2014 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/6413195/">Paper</a>
<!--               <a href="https://github.com/lizhi1104/HAAN">Code</a> -->
            </span>
          </p>
        </td>
      </tr>


      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/fuzzy2014.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              Fuzzy-Based Pareto Optimality for Many-Objective Evolutionary Algorithms
            </strong>
            <br> <b>Zhenan He</b>, Gary G. Yen, and Jun Zhang <br>
            <em>IEEE Transactions on Evolutionary Computation,</em> 2014 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/6497578">Paper</a>
<!--               <a href="https://github.com/LemonQC/KG2Text">Code</a> -->
            </span>
          </p>
        </td>
      </tr>


      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/zsl2020.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              Zero-shot learning by mutual information estimation and maximization
            </strong>
            <br> Chenwei Tang, Xue Yang, Jiancheng Lv, and <b>Zhenan He<sup>*</sup></b> <br>
            <em>Knowledge-Based Systems,</em> 2020 <br>
            <span class="links">
              <a href="https://www.sciencedirect.com/science/article/pii/S0950705120300101">Paper</a>
<!--               <a href="https://github.com/airmachine/DARK">Code</a> -->
            </span>
          </p>
        </td>
      </tr>


      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/reduction2016.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              Many-Objective Evolutionary Algorithm: Objective Space Reduction and Diversity Improvement
            </strong>
            <br> <b>Zhenan He</b> and Gary G. Yen <br>
            <em>IEEE Transactions on Evolutionary Computation,</em> 2016 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/7108005">Paper</a>
<!--               <a href="https://github.com/bfshi/SSAD_OSAD">Code</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/vis2016.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              Visualization and Performance Metric in Many-Objective Optimization
            </strong>
            <br> <b>Zhenan He</b> and Gary G. Yen <br>
            <em>IEEE Transactions on Evolutionary Computation,</em> 2016 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/abstract/document/7219451">Paper</a>
<!--               <a href="https://github.com/yinboc/few-shot-meta-baseline">Code</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/css2017.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                Many-Objective Evolutionary Algorithms Based on Coordinated Selection Strategy
              </span>
            </strong>
            <br> <b>Zhenan He</b> and Gary G. Yen <br>
            <em>IEEE Transactions on Evolutionary Computation,</em> 2017 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/7539333">Paper</a>
        <!--       <a href="">Code</a> -->
            </span>
          </p>
        </td>
      </tr> 
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/RMOEA2019.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                Robust Multiobjective Optimization via Evolutionary Algorithms
              </span>
            </strong>
            <br> <b>Zhenan He</b>, Gary G. Yen, and Zhang Yi <br>
            <em>IEEE Transactions on Evolutionary Computation,</em> 2019 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/8419222">Paper</a>
              <a href="https://github.com/ZhenanHe/Robust-Multiobjective-Optimization-via-Evolutionary-Algorithms-RMOEA">Code</a>
<!--               <a href="https://sites.google.com/view/auxiliary-task-reweighting">Project page</a> -->
              <!--              <a href="https://www.youtube.com/watch?v=B2i6z6HefGw&feature=youtu.be">Video</a> -->
            </span> 
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/Exaggerated2019.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                Exaggerated portrait caricatures synthesis
              </span>
            </strong>
            <br> Chenwei Tang, Kun Xu, <b>Zhenan He<sup>*</sup></b>, and Jiancheng Lv <br> 
            <em>Information Sciences,</em> 2019 <br>
            <span class="links">
              <a href="https://www.sciencedirect.com/science/article/abs/pii/S0020025519305936">Paper</a>
<!--               <a href="https://github.com/airmachine/EM-MIL-WeaklyActionDetection">Code</a>
              <a href="https://www.youtube.com/watch?v=quV8Z6-s3Cs&feature=youtu.be">Demo1</a>
              <a href="https://www.youtube.com/watch?v=8IiQbN6lLbo&feature=youtu.be">Demo2</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/MOEA-RE2020.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                Evolutionary Multiobjective Optimization With Robustness Enhancement
              </span>
            </strong>
            <br> <b>Zhenan He</b>, Gary G. Yen, and Jiancheng Lv <br> 
            <em>IEEE Transactions on Evolutionary Computation,</em> 2020 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/8789665">Paper</a>
              <a href="https://github.com/ZhenanHe/MOEA-with-robustness-enhancement-MOEA-RE">Code</a>
<!--               <a href="https://roeiherz.github.io/CanonicalSg2Im/">Project page</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/smallsample2020.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                A Network Framework for Small-Sample Learning
              </span>
            </strong>
            <br> Dongbo Liu, <b>Zhenan He</b>, Dongdong Chen, and Jiancheng Lv<br> 
            <em>IEEE Transactions on Neural Networks and Learning Systems,</em> 2020 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/8931022">Paper</a>
<!--               <a href="https://github.com/joaanna/something_else">Dataset</a>
              <a href="https://joaanna.github.io/something_else/">Project page</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/zsl2021.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                Zero-Shot Learning via Structure-Aligned Generative Adversarial Network
              </span>
            </strong>
            <br> Chenwei Tang, <b>Zhenan He</b>, Yunxia Li, and Jiancheng Lv <br>
            <em>IEEE Transactions on Neural Networks and Learning Systems,</em> 2021 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/9449653">Paper</a>
              <a href="https://github.com/TCvivi/ZSL_SAGAN">Code</a>
<!--               <a href="https://www.youtube.com/watch?v=76JS7N5aMSw&ab_channel=XimengSun">Demo</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/mcdm2021.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                Evolutionary Algorithm for Knee-Based Multiple Criteria Decision Making
              </span>
            </strong>
            <br> Kai Zhang, Gary G. Yen, and <b>Zhenan He</b> <br>
            <em>IEEE Transactions on Cybernetics</em>, 2021 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/8933061">Paper</a>
<!--               <a href="https://github.com/roeiherz/STAG-Nets">Code</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/knee2021.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                Knee-Based Decision Making and Visualization in Many-Objective Optimization
              </span>
            </strong>
            <br> <b>Zhenan He</b>, Gary G. Yen, and Jinliang Ding <br>
            <em>IEEE Transactions on Evolutionary Computation,</em>, 2021 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/9209056">Paper</a>
<!--               <a href="https://yeezhu.github.io/iam.html">Project page</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/RBM2022.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                An Improved Dual-Channel Network to Eliminate Catastrophic Forgetting
              </span>
            </strong>
            <br> Dongbo Liu, <b>Zhenan He</b>, Dongdong Chen, and Jiancheng Lv <br>
            <em>IEEE Transactions on Systems, Man, and Cybernetics: Systems,</em> 2022 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/9118953">Paper</a>
<!--               <a href="https://github.com/VisionLearningGroup/R-C3D">Code</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/CRGAN2022.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                CR-GAN: Automatic craniofacial reconstruction for personal identification
              </span>
            </strong>
            <br> Yuan Li, Jian Wang, Weibo Liang, Hui Xue, <b>Zhenan He</b>, Jiancheng Lv, and Lin Zhang <br>
            <em>Pattern Recognition,</em> 2022 <br>
            <span class="links">
              <a href="https://www.sciencedirect.com/science/article/pii/S0031320321005768">Paper</a>
<!--               <a href="https://github.com/VisionLearningGroup/Text-to-Clip_Retrieval">Code</a>
              <a href="https://www.youtube.com/watch?v=EzUzJkiu2b0&feature=youtu.be">Demo1</a>
              <a href="https://www.youtube.com/watch?v=DoJgszyiTdU&feature=youtu.be">Demo2</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/DJH2022.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                Robust Multiobjective Optimization for Vehicle Routing Problem With Time Windows
              </span>
            </strong>
            <br> Jiahui Duan, <b>Zhenan He<sup>*</sup></b>, and Gary G. Yen <br>
            <em>IEEE Transactions on Cybernetics,</em> 2022 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/9345393">Paper</a>
              <a href="https://github.com/ZhenanHe/R-MOPSO">Code</a>
<!--               <a href="https://www.youtube.com/watch?v=PRwZtFNQQQI&feature=youtu.be">Demo1</a>
              <a href="https://www.youtube.com/watch?v=nBKAwA7YK9c&feature=youtu.be">Demo2</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/CJM2022.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                Open Set Classification for Signal Diagnosis of Machinery Sensor in Industrial Environment
              </span>
            </strong>
            <br> Jianming Chen, Guangjin Wang, Jiancheng Lv, <b>Zhenan He<sup>*</sup></b> <br>
            <em>IEEE Transactions on Industrial Informatics,</em> 2022 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/abstract/document/9763052">Paper</a>
              <a href="https://github.com/ZhenanHe/Open-Set-Signal-Classification-OSSC">Code</a>
<!--               <a href="https://www.youtube.com/watch?v=-fACrMSHHDI&feature=youtu.be">Demo</a>
              <a href="http://ai.bu.edu/r-c3d/">Project page</a> -->
            </span>
          </p>
        </td>
      </tr>
      
      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/JSL2022.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                A Multi-Scenario Optimization Evolutionary Algorithm Based on Transfer Framework
              </span>
            </strong>
            <br> Shanlin Jiang, Gary G. Yen, and <b>Zhenan He*</b> <br>
            <em>IEEE Transactions on Evolutionary Computation,</em> 2022 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/9910596">Paper</a>
<!--               <a href="https://github.com/VisionLearningGroup/Ask_Attend_and_Answer">Code</a>
              <a href="https://www.youtube.com/embed/FjpRwVKYJQ8?rel=0">Video spotlight</a> -->
            </span>
          </p>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>
